footer { margin-top: 100px; }
table, td, th { vertical-align: middle; border: none; }
th { border-bottom: 1px solid #DDD; }
.info_title {
  background-color: #038abc;
  color: #333;
  margin: 33px;
  font-family: verdana;
  font-size: 20px;
  line-height: 10px;
}
.info_subtitle {
  background-color: #bbb;
  color: #333;
  margin: 33px;
  font-family: times, arial;
  font-size: 30px;
  line-height: 18px;
}
.info_paragraph {
  background-color: #ffc0cb;
  color: #333;
  margin: 33px;
  font-family: comic, sans-serif;
  font-size: 9px;
  line-height: 18px;
}
.veronikas_info {
  color: red
}
